@-webkit-keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}@keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}

.app {
  text-align: center;
  color:#595959;
}

.left-align {
  text-align: left;
}
.main-window {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  text-align: right;
}

.sidebar-header > Button {
  margin-left: 1em;
}

.sidebar-content {
  align-items: center;
  justify-content: center;
}

.lifted {
  box-shadow: 4px 4px 10px rgb(0 0 0 / 7%);
}

.extra-lifted {
  box-shadow: 6px 6px 8px rgb(0 0 0 / 10%);
}

.space-evenly {
  justify-content: space-evenly;
}


